extends layout

block scripts
  script(src='/js/sender.js')
  
block sidebar
  include sidebar.pug
  
block content
  h1= title
  
  ul
  each admin in administradores
    li 
      span() #{admin.nombre_completo}
      a(href=admin.url)
        button.btn.btn-primary(type='button') Ver
      a(href=admin.url + '/editar')
        button.btn.btn-primary(type='button') Editar
      button.btn.btn-primary(type='button', onClick='deleteUsuario("' + admin.curp + '")') Borrar

  else
    li Sin administradores.