extends layout

block scripts
  script(src='/js/sender.js')
  
block sidebar
  include sidebar.pug
  
block content
  h1= title
    
  table
    thead
      tr
        th Administrador
        th Acciones
    tbody
      each admin in administradores
        tr
          td
            span() #{admin.nombre_completo}
          td
            a(href=admin.url)
              button.btn.btn-primary(type='button') Ver
            a(href=admin.url + '/editar')
              button.btn.btn-primary(type='button') Editar
            button.btn.btn-primary(type='button', onClick='deleteUsuario("' + admin.curp + '")') Borrar