extends layout

block css
  link(rel='stylesheet', href='/stylesheets/login.css')
  


block content
  div.modal-backdrop.fade.in
  div#login-modal.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='false', style='display: block;')
    if message.length > 0
      div.alert.alert-danger
        =message
    div.modal-dialog
      div.loginmodal-container
        h1 Ingresa a tu cuenta
        form(action='/login', method='post')
          input(type='text', name='curp', placeholder='CURP')
          input(type='password', name='password', placeholder='Contraseña')
          input.login.loginmodal-submit(type='submit', name='login', value='Ingresar')
        div.login-help
            a(href='#') &nbsp;Olvidé mi contraseña
    
