div(class='col-sm-2')
  ul(class='sidebar-nav')
    li 
      a(href='/') Home
    li 
      hr
    li 
      a(href='/alumnos/lista') Alumnos
    li 
      a(href='/alumnos/registro_alumno?option=create') Registro de alumno
    li 
      a(href='/profesores/lista') Profesor
    li 
      a(href='/profesores/registro_profesor?option=create') Registro de profesor
    li 
      a(href='/materias/lista') Materia
    li 
      a(href='/materias/registro_materia?option=create') Registro de materia
    li 
      a(href='/usuarios/lista') Usuario
    li 
      a(href='/usuarios/registro_usuario?option=create') Registro de usuario
