div(class='col-sm-2')
  ul(class='sidebar-nav')
    li 
      a(href='/') Home
    li 
      hr
    li 
      a(href='/alumnos/lista') Alumnos
    li 
      a(href='/alumnos/registro_alumno?option=create') Registro de alumno
